<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Hello World</h2>
  <h3 class='text-capitalize'>Hello world hello world hello
    world</h3>

  <hr />

  <div class='display-1 text-muted'>Hello World</div>
  <div class='display-5'>Hello World</div>
  <div class='display-6'>Hello World</div>

  <hr />

  <div class='text-muted text-end'>
    Додатковий
    <span class='display-5'>текст</span>
  </div>

  <hr />

  <button class='btn btn-primary'>
    <span class='text-uppercase'>Test button</span>
    <h1>Test</h1>
  </button>
  <br /><br />
  <a href='#' class='btn btn-primary text-uppercase'>
    <span>Button primary</span>
  </a>

  <hr />

  <p class='text-primary'>Повідомлення</p>
  <p class='text-secondary'>Повідомлення</p>
  <p class='text-success'>Повідомлення</p>
  <p class='text-danger'>Повідомлення</p>
  <p class='text-warning'>Повідомлення</p>
  <p class='text-info'>Повідомлення</p>
  <p class='text-light'>Повідомлення</p>
  <p class='text-dark'>Повідомлення</p>
  <p class='text-link'>Повідомлення</p>

  <hr />

  <button class='btn btn-outline-primary btn-lg'>My button</button>

  <button class='btn btn-outline-primary'>My button</button>

  <button class='btn btn-outline-primary btn-sm'>My button</button>

  <hr />

  <div class='card'>
    <div class='card-bady'>
      This is content
    </div>
  </div>

</main>