<main>
    <div style="color: hsl(240, 61%, 21%); background: hwb(59 66% 8%);" class="p-4">
        <div class="">
            {{#with content}}
            <h1 class="text-center mb-5">{{title}}</h1>
            <p  style="text-indent: 30px;" class="text-indent my-5">{{description}}</p>
            {{/with}}
        </div>
        <div>
            {{#each buttons}}
                <a href={{link}}
                    {{#if isWarning}} class='btn btn-warning m-2'{{/if}}
                    {{#if isLight}} class='btn btn-light m-2'{{/if}}
                    {{#if isDanger}} class='btn btn-danger m-2'{{/if}}>
                    {{text}}
                </a><br />
            {{/each}}
        </div>
    </div>
</main>



