<main>
  <body>
    <header class="mb-5">
      {{#with page}}
        <h2>{{title}}</h2>
      {{/with}}
    </header>
    <section>
      {{#with main}}
        <div
          class='card mb-4 p-4'
          style='background-color:#e8ebcb;'
        >
          {{> title data="Summary" big=true}}
          <div>
            <p>
              {{summary.text}}
            </p>
          </div>
        </div>
        {{#with experience}}
          <div
            class='card mb-4 p-4'
            style='background-color:#e8ebcb;'
          >
            {{> title data="Experience"}}
            <div>
              <p>
                {{text}}
              </p>
            </div>
          </div>
        {{/with}}
      {{/with}}
    </section>
  </body>
</main>